@import url('https://fonts.googleapis.com/css?family=Niramit');
body{
	background-color: grey;
	text-align: center;
	font-family: 'Niramit', sans-serif;
}
header div.tete{
	background-color: darkblue;
	border: 3px solid black;
	border-radius: 10px;
}
header div.tete img{
	display: inline-block;
	width: 40%;
	height: 200px;
	border-radius: 100px;
}
header div.tete div.lien{
	color: darkblue;
	background-color: lightblue;
	border: 3px solid black;
	border-radius: 10px;
}
header div.tete div.lien:hover{
	color: lightblue;
	background-color: darkblue;
	border: 3px solid lightblue;
	border-radius: 10px;
}
div.corps h2{
	color: darkred;
}
div.corps div.nouv{
	color: lightblue;
	background-color: darkblue;
	border: 3px solid black;
	border-radius: 10px;
	margin: 1px;
	margin-bottom: 9px;
}
div.corps div.nouv:hover{
	color: darkblue;
	background-color: lightblue;
	border: 3px solid black;
	border-radius: 10px;
}
footer{
	position: fixed;
	bottom: 0;
	color: darkred;
	background-color: darkblue;
	border: 3px solid black;
	border-radius: 10px;
}
footer p{
	font-weight: bolder;
}